* {
    border: 1px dotted green;
}

h1 {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    margin: 2rem;
    color: rgb(0, 255, 0);

    font-family: "Iceberg", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

li {
    list-style-type: none;
    &:hover {
        font-style: underline;
        font-size: 60px;
    }
}

ul {
    padding: 0;
}

.title-name {
    display: flex;
    justify-content: center;

    &__image {
        width: 50%;
    }
}
